<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/css/fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<div class="header">
    <h3 class="text-center">Lorem ipsum dolor nunc</h3>
</div>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Kategorija</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">Meni</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                    <!-- Button trigger modal -->
                    <button type="button" class="modal-btn" data-toggle="modal" data-target="#exampleModal">
                        Dodaj kategoriju
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Dodaj kategoriju</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="w3-container" action="/category" method="post">
                                        <input class="w3-input" type="text" name="title">
                                        <label>Naziv kategorije</label>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="modal-btn" style="background-color: #121212"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="modal-btn">Sacuvaj</button>
                                </div>
                                </form>
                            </div>
                        </div>


                    </div>

                    <%
                    for(const category of categories){ %>
                        <div class="category-div">
                            <h6>Naziv kategorije</h6>
                            <h4><%= category.title %></h4>
                        </div>
                    <% } %>

                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="container">
                    <button type="button" class="modal-btn" data-toggle="modal" data-target="#menuItems">
                        Dodaj u meni
                    </button>

                    <%
                    for(const item of items){ %>
                        <div class="category-div">
                            <div class="row" onclick="showItem('<%= item.id %>')">
                                <div class="col-sm">
                                    <h6>Naziv proizovda</h6>
                                    <h4><%= item.title %></h4>
                                </div>

                                <div class="col-sm">
                                    <h6>Naziv categorije</h6>
                                    <h4><%= item.idCategory.title %></h4>
                                </div>

                                <button type="button" class="modal-btn" data-toggle="modal" data-target="#editModal">
                                    Edit
                                </button>

                                <form method="get" action="/item/delete/<%= item.id %>">
                                    <div class="col-sm-1">
                                        <button type="submit" class="close-btn"><i class="fa fa-times"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="menuItems" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Dodaj u meni</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="w3-container" enctype="multipart/form-data" action="/item" method="post">
                                    <div class="form-group">
                                        <input class="w3-input" type="text" name="title">
                                        <label>Naziv kategorije</label>
                                    </div>
                                    <div class="form-group">
                                        <select name="idCategory" class="form-control form-control-lg">
                                            <% for (const category of categories) { %>

                                                <option value="<%= category.id %>"><%= category.title %>
                                                </option>

                                            <% }
                                            %>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input class="w3-input" type="file" name="image">
                                        <label>Izaberi fajl</label>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Example textarea</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                  name="description"></textarea>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="modal-btn" style="background-color: #121212"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="modal-btn">Sacuvaj</button>
                            </div>
                            </form>


                        </div>
                    </div>


                </div>

                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Dodaj u meni</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="w3-container" enctype="multipart/form-data" method="post"
                                      action="/item/update">
                                    <input type="hidden" value="" name="id" id="idItem">
                                    <input type="hidden" value="" name="idImage" id="idImage">
                                    <div class="edit-form">
                                        <div class="form-group">
                                            <input class="w3-input" id="edit-form-title" type="text" name="title"
                                                   value="">
                                            <label>Naziv </label>
                                        </div>

                                        <div class="form-group">
                                            <select name="idCategory" class="form-control form-control-lg">
                                                <% for (const category of categories) { %>

                                                    <option id="edit-form-category"
                                                            value="<%= category.id %>"><%= category.title %>
                                                    </option>

                                                <% }
                                                %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Opis</label>
                                            <textarea class="form-control" id="edit-form-description" rows="3"
                                                      name="description"></textarea>
                                        </div>

                                        <div class="text-center">
                                            <img class="img-fluid" id="edit-form-img">
                                        </div>

                                        <div class="text-center">
                                            <a class="change-img-btn" onclick="openUpload()">IZMENI SLIKU</a>
                                        </div>

                                        <div id="change-img-div">
                                            <div class="form-group">
                                                <input class="w3-input" type="file" name="image">
                                                <label>Izaberi fajl</label>
                                            </div>
                                        </div>

                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="modal-btn" style="background-color: #121212"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="modal-btn">Sacuvaj</button>
                            </div>
                            </form>


                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<script>
    let itemById = {};

    async function showItem(item) {
        let response = await fetch(`http://localhost:3000/item/byId/${item}`)
            .then(response => response.json())
            .then(data => itemById = data);

        console.log(itemById.id)

        document.getElementById('edit-form-title').value = itemById.title;
        document.getElementById('edit-form-description').value = itemById.description;
        document.getElementById('edit-form-category').value = itemById.idCategory.id;
        document.getElementById('idItem').value = itemById.id;
        document.getElementById('edit-form-img').src = itemById.idImage.url;
        document.getElementById('idImage').value = itemById.idImage.id;

    }

    function openUpload() {
        const x = document.getElementById("change-img-div");

        var y = (x.style.display === "none") ?
            x.style.display = "block" :
            x.style.display = "none";
    }
</script>

</body>
</html>
