<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meni</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<%
let itemGlobal;
%>
<div id="overlay" class="text-center" style="padding-top: 10%">
    <img src="/img/divider.png" alt="Loading"/>
</div>
<div class="page">
    <div class="header" id="header">
        <%- include('header_for_black') -%>
        <div class="header-container">
            <div class="row">
                <div class="col-sm text-left header-left-col">
                    <h1>Pogledaj nas meni</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not onl</p>
                </div>
                <div class="col-sm">
                    <img class="text-left img-fluid"
                         src="/img/mbyi360-burger.png">
                </div>
            </div>
        </div>
    </div>

    <%
    var itemById;
    if (itemById != null){ %>
        <div class="container more-card">
            <div class="row" style="padding: 2em">

                    <div class="row">
                        <div class="col-sm text-center">
                            <img src="<%= itemById.idImage.url %>" style="padding-top: 1em" class="img-fluid" width="500px">
                        </div>
                        <div class="col-sm">
                                <div class="text-right">
                                    <form action="/menu" method="get">
                                        <button class="close-btn"><i class="fa fa-times"></i></button>
                                    </form>
                                </div>
                                <h1 class="more-h1"><%= itemById.title %></h1>
                                <p><%= itemById.description %></p>

                        </div>
                    </div>

                <script>
                    document.getElementById('menu').style.display = 'none'
                    document.getElementById('header').style.display = 'none'
                </script>
            </div>
        </div>
    <% } %>
    <div class="header-container text-center">
        <h1 class="text-left" style="color: #121212;padding-top: 2em">Glavna jela</h1>
        <div class="divider"></div>
        <div class="row item-row text-center item-list" id="menu">

            <% for (const item of items){ %>
                <% if(item.idCategory.id === 3){ %>
                    <div class="col-sm item-card">

                        <input type="hidden" id="item" value="<%= item.id %>">

                        <h5 class="text-left"><i class="fa fa-info-circle"
                                                 style="color:#845a00;"></i> <%= item.idCategory.title %></h5>
                        <div class="divider"></div>
                        <h5 class="text-left"><i class="fa fa-info-circle"></i> <%= item.title %>
                        </h5>
                        <img class="img-fluid" src="<%= item.idImage.url %>" width="300px" style="padding-top: 2em">
                        <form method="get" action="/item/<%= item.id %>">
                            <button type="submit" class="more-btn">VISE INFORMACIJA</button>
                        </form>
                    </div>

                <% } %>

            <% }
            %>

        </div>

    </div>


    <div class="header-container text-center">
        <h1 class="text-left" style="color: #121212;padding-top: 2em">Predjela</h1>
        <div class="divider"></div>
        <div class="row item-row text-center item-list" id="menu">

            <% for (const item of items){ %>
                <% if(item.idCategory.id === 2){ %>
                    <div class="col-sm item-card">

                        <input type="hidden" id="item" value="<%= item.id %>">

                        <h5 class="text-left"><i class="fa fa-info-circle"
                                                 style="color:#845a00;"></i> <%= item.idCategory.title %></h5>
                        <div class="divider"></div>
                        <h5 class="text-left"><i class="fa fa-info-circle"></i> <%= item.title %>
                        </h5>
                        <img class="img-fluid" src="<%= item.idImage.url %>" width="300px" style="padding-top: 2em">
                        <form method="get" action="/item/<%= item.id %>">
                            <button type="submit" class="more-btn">VISE INFORMACIJA</button>
                        </form>
                    </div>

                <% } %>

            <% }
            %>

        </div>

    </div>

    <div class="header-container text-center">
        <h1 class="text-left" style="color: #121212;padding-top: 2em">Dezerti</h1>
        <div class="divider"></div>
        <div class="row item-row text-center item-list" id="menu">

            <% for (const item of items){ %>
                <% if(item.idCategory.id === 4){ %>
                    <div class="col-sm item-card">

                        <input type="hidden" id="item" value="<%= item.id %>">

                        <h5 class="text-left"><i class="fa fa-info-circle"
                                                 style="color:#845a00;"></i> <%= item.idCategory.title %></h5>
                        <div class="divider"></div>
                        <h5 class="text-left"><i class="fa fa-info-circle"></i> <%= item.title %>
                        </h5>
                        <img class="img-fluid" src="<%= item.idImage.url %>" width="300px" style="padding-top: 2em">
                        <form method="get" action="/item/<%= item.id %>">
                            <button type="submit" class="more-btn">VISE INFORMACIJA</button>
                        </form>
                    </div>

                <% } %>

            <% }
            %>

        </div>

    </div>

    <div class="about-container text-center" >
        <div style="padding-top: 5em;padding-bottom: 5em">
            <h1>Konraktirajte nas</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's</p>
            <button class="contact-btn" onclick="location.href='/contact'">Kontaktirajte nas</button>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffa900" fill-opacity="1"
              d="M0,96L30,128C60,160,120,224,180,250.7C240,277,300,267,360,218.7C420,171,480,85,540,58.7C600,32,660,64,720,90.7C780,117,840,139,900,149.3C960,160,1020,160,1080,170.7C1140,181,1200,203,1260,197.3C1320,192,1380,160,1410,144L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
    </svg>
</div>
</div>


</body>
</html>
